.maindiv{
background-color:white;
height:auto



}


.image{
height:auto;
width:100%;
padding: 5%;



}

.paragraph{

    padding: 5%;

    height: 400;
    


}

@media (max-width:768px) {


    

    .paragraph{
        

     width:100%

    }
    
}

